body{
    margin:0;
    padding:0;
}


.userName_page{
    background: #eef1f5;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    width:100%;
    font-family: 'Noto Serif', serif;
    font-size:1rem;
    animation: colorchange 40s infinite; /* Chrome and Safari */
}
.userName_page h1{
    letter-spacing: 7px;
    
}
    @keyframes colorchange
    {
      0%   {background: #eef1f5;}
      25%  {background: #6f86d6;}
      50%  {background: #ebc0fd ;}
      75%  {background: #f09819;}
      100% {background: #8ddad5;}
    }


.chat_page{
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    height:100vh;
}

#username_form{
    text-align: center;
}

#input_username{
    width:350px;
    height:50px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    outline:none;
    border:none;
    text-align: center;

}
#submit_username{
    width:40%;
    height:50px;
    margin-top:3em;
}



.chat_wrapper{
    border:1px solid black;
    width:600px;
    height: 500px;
    margin-top:1em;
}
.chat_block{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    font-size:1.4em;
    letter-spacing: 3px;
}
.chat_wrapper h5{
    font-size:1rem;

}
.receive_{
    margin-top:auto;
    overflow:overlay;
}
.receive_ p{
    display:flex;
    align-items: center;
    padding:0;
    margin:0;
    height: 65px;
}

.sendMsg_form{
    margin:0 auto;
}
#sendMsg{
    margin-top:10px;
    width:40%;
    height:20px;
}
#sendMsg{
    width:45%;
    height:40px;
}
.users_online{

}
#blank_input{
    display:none;
}
.input_error{
    border:2px solid red;
}
#submit_username{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    margin-top:4em;
    border:none;
    outline:none;
    font-family: 'Noto Serif', serif;
    font-size:1rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.act{
    animation:butt 2s linear;
}
.welcome_box{
    display:flex;
    font-size:14px;
    justify-content: center;
    align-items: center;
    opacity:0;
    padding-top:2em;

}
.welcome_box h1{
    opacity: .40;
}
@-webkit-keyframes butt {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
